x-global-env: &global-env
    HOSTNAME: localhost
    USER_SERVICE_PORT: 8080
    AUTHZ_SERVICE_PORT: 8081
    AUDIT_LOG_SERVICE_PORT: 8082
    AI_CATEGORIZATION_SERVICE_PORT: 8083
    MEDIA_SERVICE_PORT: 8084
    DOCS_SERVICE_PORT: 8000
    POSTGRES_PORT: 5432
    REDIS_PORT: 6379
    ZOOKEEPER_PORT: 2181
    JWT_ACCESS_SECRET: aSV68OrraQ8m+mRxcmEZFcqjRoA4Hfk4fHVhtmKDeC9lhm2m95h9tRcietLUZs0vL19vX4nJZdflh/ju+Py+Kw==
    JWT_REFRESH_SECRET: bNa5h++JFlleDXl3wm0pSDSlSD2rDrigCRPJTt0F00vRonkabew2JsKKHMUTwvaOXH8u0oQ8ZXnphXh/gl0F5g==
    DATABASE_URL: postgres://risk-radar-admin:passwd@postgres:5432/risk-radar?sslmode=disable
    NODE_ENV: development

services:
    user-service:
        build:
            context: ./services/user-service
            dockerfile: Dockerfile
        container_name: user-service
        depends_on:
            - postgres
            - redis
        environment:
            <<: *global-env
        networks:
            - backend
        ports:
            - "8080:8080"

    authz-service:
        build:
            context: ./services/authz-service
            dockerfile: Dockerfile
        container_name: authz-service
        depends_on:
            - postgres
        environment:
            <<: *global-env
            HTTP_PORT: 8080
        networks:
            - backend
        ports:
            - "8081:8080"

    audit-log-service:
        build:
            context: ./services/audit-log-service
            dockerfile: Dockerfile
        container_name: audit-log-service
        depends_on:
            - postgres
            - kafka
        environment:
            <<: *global-env
            PORT: 8080
            LOG_LEVEL: info
            WEBSOCKET_ENABLED: "true"
            LOG_RETENTION_DAYS: 90
            KAFKA_BROKERS: kafka:9092
            KAFKA_CLIENT_ID: audit-log-service
            KAFKA_GROUP_ID: audit-log-service-consumer
            KAFKA_TOPIC: audit_logs
        networks:
            - backend
        ports:
            - "8082:8080"

    ai-categorization-service:
        build:
            context: ./services/ai-categorization-service
            dockerfile: Dockerfile
        container_name: ai-categorization-service
        environment:
            <<: *global-env
            PORT: 8080
        ports:
            - "8083:8080"
        networks:
            - backend

    media-service:
        build:
            context: ./services/media-service
            dockerfile: Dockerfile
        container_name: media-service
        depends_on:
            - postgres
        environment:
            <<: *global-env
            HTTP_PORT: 8080
            AUTHZ_BASE_URL: http://authz-service:8080
            AUDIT_KAFKA_ENABLED: "true"
            AUDIT_KAFKA_BROKERS: kafka:9092
            AUDIT_KAFKA_TOPIC: audit_logs
            AUDIT_KAFKA_CLIENT_ID: media-service
        networks:
            - backend
        ports:
            - "8084:8080"
    report-service:
        build:
            context: ./services/report-service
            dockerfile: Dockerfile
        depends_on:
            - postgres
            - kafka
            - redis
        environment:
            <<: *global-env
            HTTP_PORT: 8080
        networks:
            - backend
        ports:
            - "8085:8080"
    redis:
        image: redis:latest
        container_name: redis
        ports:
            - "6379:6379"
        volumes:
            - redis_data:/data
        networks:
            - backend

    postgres:
        image: postgres:latest
        container_name: postgres
        environment:
            POSTGRES_USER: risk-radar-admin
            POSTGRES_PASSWORD: passwd
            POSTGRES_DB: risk-radar
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - backend

    docs-service:
        build:
            context: ./docs
            dockerfile: Dockerfile
        container_name: docs-service
        ports:
            - "8000:8000"
        networks:
            - backend
        volumes:
            - ./docs:/app
    zookeeper:
        image: confluentinc/cp-zookeeper:7.5.0
        container_name: zookeeper
        environment:
            ZOOKEEPER_CLIENT_PORT: 2181
            ZOOKEEPER_TICK_TIME: 2000
        ports:
            - "2181:2181"
        networks:
            - backend

    kafka:
        image: confluentinc/cp-kafka:7.5.0
        container_name: kafka
        depends_on:
            - zookeeper
        ports:
            - "9092:9092"
            - "9093:9093"
        environment:
            KAFKA_BROKER_ID: 1
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:9093
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
            KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
        networks:
            - backend

volumes:
    redis_data:
    postgres_data:

networks:
    backend:
        name: backend
